<link rel="stylesheet" href="/12Caesars/assets/css/styles.css">
<nav class="current">
  <div class="nav-container">
    <div class="left">
      <a href="/ErikasBlog/" class="links">Erika's Blog</a>
    </div>
    <div class="right">
      {% for item in site.data.navigation %}
        {% unless item.name == "Erika's Blog" %}
      <a href="{{ item.link }}" class="links" {% if page.url == item.link %} {% endif %}>{{ item.name }}</a>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</nav>